h1,h5,h6{
    font-family: 'Black Ops One', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Poiret One', cursive;
    
    font-size: 3em;
}
h5,h6{
    color:white;
    font-size:1.4em;
}
h6{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}
p,label{
    font-size: 1.2em;
}
#uploader{
    font-size: 1.0em;
    margin: 2em 1em;
    /* background:rgb(59, 157, 160);
    border-radius: 5px; */
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(19, 20, 20);
}
#upload{
    text-align:center;
    background: rgb(114, 148, 187);
    background-image: url('enter1.jpg');
    background-size: cover;
    border-radius:10px;
    padding-top:10px;
}
#inputs{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    border-color: rgb(29, 31, 31);
    background-color: rgb(29, 31, 31);
    margin: 2em 0;
    padding: 10px 50px;
    height:120px;
}
#input-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 70px;
    width:40%;
}
#input-num{
    width:160px;
}
#buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    

}

button{
    background: rgb(59, 157, 160);
    border-radius: 10px;
    border: 0px;
    width: 6em;
    height:40px;
    padding: 10px;
    margin: 10px 30px;
    font-size:1.3em;
    
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

#clear{

}

canvas{
    max-width: 100%;
    display: inline-block;
}

#container{
    max-width: 80%;
    margin: 0 auto;
}
#canvases{
    display:flex;
    justify-content: space-evenly;
}