h1{
    font-family: 'Black Ops One', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Poiret One', cursive;
    
    font-size: 3em;
}
p,label{
    font-size: 1.2em;
}
input{
    font-size: 1.0em;
    margin: 2em 1em;
    /* background:rgb(59, 157, 160);
    border-radius: 5px; */
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(19, 20, 20);
}
#upload{
    text-align:center;
    background: rgb(114, 148, 187);
    background-image: url('enter1.jpg');
    background-size: cover;
    border-radius:10px;
    padding-top:10px;
}

#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
    border: 1px solid black;
    border-radius: 10px;
    border-color: rgb(29, 31, 31);
    background-color: rgb(29, 31, 31);
    padding: 10px;
    height:80px;
}

button{
    background: rgb(59, 157, 160);
    border-radius: 10px;
    border: 0px;
    width: 7em;
    height:40px;
    padding: 10px;
    font-size:1.2em;
    
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

canvas{
    max-width: 100%;
    display: inline-block;
}

#container{
    max-width: 80%;
    margin: 0 auto;
}
#canvases{
    display:flex;
    justify-content: space-evenly;
}